/**
 * Theme Name: 25th child
 * Template:   twentytwentyfive
 * Author: Kamila Bogacz
 * Author URI: https://spaceberries.eu
 * Version: 1
 * Tested up to: 6.9.1
 * Requires PHP: 8.4
 * Text Domain: twentyfifthchild
 */